In [3]:
t=(1,2,[3,4])
print(t)
t[2].append(5)
#t[2]=[8,9]
print(t)

(1, 2, [3, 4])
(1, 2, [3, 4, 5])

In [6]:
l=[1,2,(8,9)]
print(l)
l[2]=l[2]+(2,3)
print(l)

[1, 2, (8, 9)]
[1, 2, (8, 9, 2, 3)]

In [7]:
s=input()

print(len(s))
#len==4
#0 1 2 3--3 2 1 0

a=""
for i in range(len(s)-1,-1,-1):
    a=a+s[i]
    
print(a)

EdYOda
6
adOYdE

In [9]:
n=int(input())
odd=0
even=0
for i in range(1,n+1):
  if(i%2!=0):  
    
    odd=odd+1
  else:
    even=even+1
    
print(odd)
print(even)

50
25
25

In [11]:
#0 1 1 2 3 5 8.....50

x,y=0,1
#print(x)
while y<50:

    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34

In [13]:
x,y=0,1
print(x)
while y<50:

    print(y)
    x,y = y,x+y

0
1
1
2
3
5
8
13
21
34

In [ ]:
Totalterms = int(input("How many terms? "))

a = 10
b = 11
num = 4

if Totalterms <= 0:
   print("Please enter a positive integer")
elif Totalterms == 1:
   print("Fibonacci sequence upto",Totalterms,":")
   print(a)

else:
   print("Fibonacci sequence:")
   while num < Totalterms:
       print(a)
       z = a + b
       
       a = b
       b = z
       num += 1

In [15]:
a=0
b=1
print(b,end=' ')
for i in range(2,10):
    c=a+b
    a=b
    b=c
    print(c,end=' ')

1 1 2 3 5 8 13 21 34

In [1]:
#Center

s=input()

a=s.center(10,"*")

print(a)

india
**india***

In [10]:
s=input()
print(s.isidentifier())

gfib,geif.ibfi
False

In [15]:
a=input()

print(a.zfill(10))

ohd
0000000ohd

In [25]:
s=input()
print(s.strip("*"))
print(s.lstrip("*"))
print(s.rstrip("*"))

     tilak
     tilak
     tilak
     tilak

In [21]:
s=input()
result = s.rindex('1')
print(result)

11
1

In [48]:

s=input()
print(s.rjust(13,"*"))
print(s.ljust(13,"*"))
print(s.center(13,"*"))

Indiaskdhvgasdljvbdslvj
Indiaskdhvgasdljvbdslvj
Indiaskdhvgasdljvbdslvj
Indiaskdhvgasdljvbdslvj

In [51]:
s=input()
print(s.replace("E", "e",2))

EdYOdaEducationEnterprises
edYOdaeducationEnterprises

In [52]:
string = "pawan is a good"

# 'is' separator is found
print(string.partition('is '))

# 'not' separator is not found
print(string.partition('bad '))

('pawan ', 'is ', 'a good')
('pawan is a good', '', '')