In [2]:
a="EdYoda"
print(a[-1])
print(a[::-1])
#a[0]="y"
#del-- delete the whole string
#but cannot delete the members of string
del a[2]
#cannot delete or update the string members
print(a)

a
adoYdE
EdYoda

In [7]:
s="Ed"
d="Yoda"
s=s+d
print(id(s))
print(id(d))
print(id(s) == id(d))

2215382071088
2215382203312
False

In [9]:
#upper function

s="India"#INDIA
t="iNdIa"
print(s.upper())
print(t.upper())

INDIA
INDIA

In [11]:
#lower() function

a="INDIA3455"

print(a.lower())

india3455

In [8]:
#isalnum---tells whether it should have either numeric or alpha no symbols--__ ,/
# ()*
#isalpha----tells whether it should have only alpha
p="123ut/"
print(p.isalnum())
print(p.isalpha())
z="123abc"
print(z.isalnum())

False
False
True

In [9]:
p="53iusd"
print(p.isalnum())
o="bbvBBYYYUUUsswa"
print(o.isalpha())

True
True

In [16]:
#isdigit----members should always be digits--(0-9)
d=input()
print(d.isdigit())
#-9--- string two characters-- "-" and 9

tilak123
False

In [17]:
a="Shivangi24"
print(a.isalnum())

True

In [22]:
#islower--all members are in lower case or not(only considers alphabets)
s=input()
print(s.islower())

-12sfs
True

In [28]:
#isupper()-all members are in upper case or not(only considers alphabets)

w=input()
print(w.isupper())

TILAK12jdjk
False

In [39]:
#Roman , Hindi , Greek ---all numbers are identified here
#digits are the subset of numerics
#digits--0 to 9
#numerics- number system in any language (Roman, Greek that is in Unicode)



i=input()
print(i.isnumeric())

I
False

In [44]:
#istitle --whether first alphabet of the string is capital or not
#title--convert into title case

e=input()

print(e.istitle())
print(e.title())

TIlak NAga
False
Tilak Naga

In [46]:
#swapcase--changes the resp cases in a string

n=input()
print(n.swapcase())

Tilak!@#nagA
tILAK!@#NAGa

In [50]:
#find--lowest index of occurence
#str.find(sub, start, end)

u=input()
t=input()
print(u.find(t))

naga
a
1

In [62]:
#rfind----last/highest index of occurence
u=input()
t=input()
print(u.find(t))
print(u.rfind(t))

12345
6
-1
-1

In [59]:
#count()--counts the occurence

l=input()
k=input()
print(l.count(k))

123
4
0

In [58]:
s=input()
g=input()
print(s.count(g))

123245
6
0

In [64]:
#index-return the position of first occurence of string
#find vs index---find gives -1 on being
#not found and index gives error on being not found
q=input()
w=input()
print(q.index(w))

tilakk
k
4

In [71]:
#endswith vs startwith

#endswith---OP is true or false - based on test
#startsswith---OP is true or false - based on test
x=input()
c=input()

print(x.endswith(c))
print(x.startswith(c))

ktilak
k
True
True

In [73]:
#capitalize vs title

s=input()
print(s.capitalize())
print(s.title())

#capitalize
ans=""
for i in range(len(s)):
    
    if(i==0):
        ans=ans+s[i].upper()
    else:
        ans=ans+s[i].lower()
print(ans)

Tilak
Tilak
Tilak
Tilak