In [7]:
# Python program to demonstrate
# use of lambda() function
# with map() function
ani = [3,4,5,6]

# here we intend to change all animal names
# to upper case and return the same
uppered_animals = tuple(map(lambda a: a**0.5, ani))

print(uppered_animals)

(1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178)

In [9]:
def cube(x):
    
    return x*x*x
#s=x*x*x
#return s
#s=x**3
#pow()
print(cube(3))
#lambda function/anonymous---miniature version-smaller operations-return  atmost 1 value
#cu=lambda A...:B A-input(s),B-Output
cu=lambda x:x**3
ad=lambda x,y,z:x+y+z
print(cu(3))

27
27

In [10]:
# Return double of n
def double(n):
	return n + n

ad=lambda x:x+x

# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(double, numbers)
print(list(result))
res = list(map(ad, numbers))
print(res)

m=[30,60]

m=[30*100/80,60*100/80]

#whenver you want to fetch a list from an  old list  by including some modif
#use map..as it poingt sto the elements one by one

[2, 4, 6, 8]
[2, 4, 6, 8]

In [13]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5,9]

result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 12]

In [14]:
n=int(input())
l=[]
for i in range(n):
   e=int(input())
   l.append(e)    
sq=lambda x:x**2
r=list(map(sq,l))
print(r)

4
34
56
78
89
[1156, 3136, 6084, 7921]

In [19]:
# List of strings
l = ['sat', 'bat', 'cat', 'mat']

# map() can listify the list of strings individually
test =tuple(map(tuple, l))
print(test)

(('s', 'a', 't'), ('b', 'a', 't'), ('c', 'a', 't'), ('m', 'a', 't'))

In [23]:
h=lambda x:x**2
l=lambda y:print(y**3)

Max = lambda a, b : h(a) if(a > b) else l(b)

print(Max(1, 2))

8
None

In [24]:
# filter() with lambda()
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

final_list = list(filter(lambda x: (x%2 != 0) , li))
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [25]:
# Python 3 code to people above 18 yrs
ages = [13, 90, 17, 59, 21, 60, 5]

adults = list(filter(lambda age: age>18, ages))

print(adults)

[90, 59, 21, 60]

In [26]:
# function that filters vowels
def fun(variable):
	letters = ['a', 'e', 'i', 'o', 'u']
	if (variable in letters):
		return True
	else:
		return False


# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']

# using filter function
filtered = filter(fun, sequence)

print('The filtered letters are:')
for s in filtered:
	print(s)

The filtered letters are:
e
e

In [29]:
a=[x.upper() for x in ['a','b'] ]
print(a)

['A', 'B']

In [32]:
d={x:chr(x) for x in range(97,123)}
print(d)
#ord--to get ascii value from character
#chr--to get charcter from ascii value
ds={x for x in range(97,123)}
print(ds)
print(type(ds))

{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u', 118: 'v', 119: 'w', 120: 'x', 121: 'y', 122: 'z'}
{97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122}
<class 'set'>

In [33]:
List = [True, 50, 10]  # True,50,5,10
List.insert(2, 5)   
print(List, "Sum is: ", sum(List))

[True, 50, 5, 10] Sum is:  66

In [34]:
x = 'abcd'
a=[]
for i in x:
    i.upper()

In [2]:
odd=lambda x: bool(x%2)
numbers=[n for n in range(10)]
print(numbers)
n=list()

for i in numbers:
    if odd(i):
        continue
    else:
        break

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
fun=lambda y:bool(y%2)
print(fun(25),fun(31))

True True

In [4]:
import functools
l=[1,2,4,5]
print(functools.reduce(lambda x,y:x*y,l))

40

In [5]:
l=[1,-2,-7,4,10]

def f1(x):
    return x<2
m1=filter(f1,l)
print(list(m1))

[1, -2, -7]

In [6]:
l=[-2,4]
m=map(lambda x:x*2,l)
print(listm)

<map object at 0x000001FCAD3E1FA0>

In [10]:
list(map((lambda x:x^3),range(5)))

[3, 2, 1, 0, 7]

In [11]:
[x**2 for x in range(10)]
list(map((lambda x:x**2),range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]