In [1]:
#Single Line comment

In [2]:
# Print
print("INDIA")

INDIA

In [1]:
'''
This is a multi line comment
This is EdYOda classroom 

'''
print("EdYoda")

EdYoda

In [4]:
a="India"
b=a+"Republic"
print(int(b))

ValueError: invalid literal for int() with base 10: 'IndiaRepublic'

In [5]:
a="India"
b=a+"Republic"
print(String(b))

NameError: name 'String' is not defined

In [6]:
a="India"
b=a+"Republic"
print(str(b))

IndiaRepublic

In [8]:
for i in range(2,10,-1):
 print(i,sep=" ")

In [9]:
for i in range(2,10,-1.5):
 print(i,sep=" ")

TypeError: 'float' object cannot be interpreted as an integer

In [2]:
a=input("Enter your age")
print(float(a))

Enter your age3
3.0

In [8]:
a=[]
b=input("Enter the values of the list")
#user must give the input to the console in comma sepearted values
#like 3,4,5,6-----[3,4,5,6]

#split function
# typecasted string to list datatype
#split output datatype is list
#inputvariable.split("seperator")---syntax of split function
a=b.split(",")
print(a)

Enter the values of the list1,2,3,4,4
['1', '2', '3', '4', '4']

In [22]:
l=["A","B","C","D"]
#l is a list
# join function to create a string from list of string
#Seperator.join(list)
#charcter between the values in string
print("#".join(l))

A#B#C#D

In [34]:
a=input("Enter the roll no")
print("This is my roll number",int(a))
# store the digits of a roll number in a list
#lis=a.split("")
#print(lis)
# using for loop  to access the elements of string
print(type(a))
l=[]
for i in a:
    l.append(i)
    print(l)
    print(i)

Enter the roll no1234
This is my roll number 1234
<class 'str'>
['1']
1
['1', '2']
2
['1', '2', '3']
3
['1', '2', '3', '4']
4

In [29]:
lis=["Sagar",33,56.6,33]
# using for loop  to access the elements of list
for i in lis:
  print(i,end=" ")

Sagar 33 56.6 33

In [30]:
s="NewDelhi"
# using for loop  to access the elements of string
for i in s:
  print(i,end=" ")

N e w D e l h i

In [35]:
#append helps to add a list member into a list

l=[1,2,3,4]

l.append(5)

In [38]:
#I want to generate a new string from and old string which will not contain repeated values
#"sagar"-----"sgar"
# conversion from string to set and again back to string
s=input()
sets=set(s)
#conversion from string to set 
nrs=str(sets)
print(nrs)

#conversion from set to string 

#no surety of order ...

sagar
{'a', 'g', 's', 'r'}

In [11]:
# how to enter values in a tuple ??

#we cannot mutate a tuple

t=(3,4,5)
t.append(6)
print(t)

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
a=input()
b=a.split(",")

t=tuple(b)
print(t)
print(type(t))

222
('222',)
<class 'tuple'>

In [44]:
l=[]
#this is the way of declaring an empty list
a=int(input("How many elements do want in a tuple"))
for i in range(a):
    print(i,"term")
    e=input()
    l.append(e)
t=tuple(l)    
print(t,type(t))

How many elements do want in a tuple5
0 term
34
1 term
56
2 term
78
3 term
56
4 term
33
('34', '56', '78', '56', '33') <class 'tuple'>

In [47]:
l=[]
#this is the way of declaring an empty list
# how to convert tuple into list

a=int(input("How many elements do want in a tuple"))
for i in range(a):
    print(i,"term")
    e=input()
    l.append(e)
t=tuple(l)    
print(t,type(t)) 

listlast=list(t)
n=int(input("Enter the new numbers to be added into the list"))
for i in range(n):
    print(i,"term")
    e=input()
    listlast.append(e)
print(listlast,type(listlast))
print(tuple(listlast),type(tuple(listlast)))

KeyboardInterrupt: Interrupted by user

In [52]:
#append example

l1=[2,3,4]
l2=[9,5,6]
print(l1+l2)

# type operation
s1="Elon"
l=['M','8','s','k']

for i in l:
    s1=s1+i
    
print(s1)

[2, 3, 4, 9, 5, 6]
ElonM8sk

In [53]:
l1=[2,3,4]

l2=[4,5,6]
# I want to find out the list of elements which are present in l1
#but not in l2

diffset=set(l1)-set(l2)

print(list(diffset))

[2, 3]

In [55]:
s1= "Elon"
l = ['M','8', 's', 'k']
for i in l:
    s1 = s1+i
    print("Current value of s1",s1)
    
print(s1)        
#Why am I getting Elonk as output

Current value of s1 ElonM
Current value of s1 ElonM8
Current value of s1 ElonM8s
Current value of s1 ElonM8sk
ElonM8sk

In [58]:
numbers = range(5)
print(numbers)
for j in range(5):
    print(j)
#range generates a sequence of numbers one by one not a list of numbers
numbers = range(1 , 5 , 2)
print(numbers)
for j in range(1,5,2):
    print(j)

range(0, 5)
0
1
2
3
4
range(1, 5, 2)
1
3

In [60]:
x= int(input("enter x")) 
y = int(input("enter y")) 
for i in range(x,y,2):
    print(i)

enter x2
enter y9
2
4
6
8

In [ ]:
dicti={rollno:}

In [62]:
a=98
b=9.67
#implicit type conversion
print(a+b)
#explicit type conversion
print(float(a)+b)

107.67
107.67

In [65]:
a=2
b=5
c=str(a)+str(b)
print(c)
print(type(c))
#str +str===25
#int +Int===7
print(a+b)

25
<class 'str'>
7